Source: whatsapp-desktop
Section: net
Priority: optional
Maintainer: Enrico204 <enrico204@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/Enrico204/Whatsapp-Desktop
Vcs-Git: https://github.com/Enrico204/Whatsapp-Desktop.git

Package: whatsapp-desktop
Architecture: amd64 armhf
Depends: ${shlibs:Depends}, ${misc:Depends}, libnotify4, gconf2, libgconf-2-4
Description: Unofficial whatsapp web desktop client for OSX, Linux and Windows. Build with Electron.
