#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


# main packaging script based on dh7 syntax
%:
	dh $@

binary-arch:
	mkdir -p debian/whatsapp-desktop/opt/whatsapp-desktop/
	mkdir -p debian/whatsapp-desktop/usr/share/applications/
	mkdir -p debian/whatsapp-desktop/usr/share/metainfo/
	mkdir -p debian/whatsapp-desktop/usr/share/icons/hicolor/128x128/apps/
	mkdir -p debian/whatsapp-desktop/usr/share/icons/hicolor/64x64/apps/
	cp "app/assets/icon/icon@2x.png" debian/whatsapp-desktop/usr/share/icons/hicolor/128x128/apps/whatsapp.png
	cp "app/assets/icon/icon.png" debian/whatsapp-desktop/usr/share/icons/hicolor/64x64/apps/whatsapp.png
	cp whatsappdesktop.desktop debian/whatsapp-desktop/usr/share/applications/
	cp it.enrico204.whatsapp-desktop.appdata.xml debian/whatsapp-desktop/usr/share/metainfo/
ifeq ($(DEB_HOST_ARCH),)
	echo "Target architecture not specified"
	exit 1
endif

ifeq ($(DEB_HOST_ARCH),armhf)
	cp -r dist/WhatsApp-linux-armv7l/* debian/whatsapp-desktop/opt/whatsapp-desktop/
endif
ifeq ($(DEB_HOST_ARCH),amd64)
	cp -r dist/WhatsApp-linux-x64/* debian/whatsapp-desktop/opt/whatsapp-desktop/
endif

# debmake generated override targets
# This is example for Cmake (See http://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)
